# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


/
*

!/Lab1/

!/Lab1/main.cpp

.vs/git
x64/
Debug/
Release/


# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

